---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import OurPortfolio from '../components/OurPortfolio.astro';
import Process from '../components/Process.astro';
import Display from '../components/Display.astro';
import LogoCloud from '../components/LogoCloud.astro';
import SolutionsSlider from '../components/SolutionsSlider.astro';
import Testimonial from '../components/Testimonial.astro';
import FAQ from '../components/FAQ.astro';
import FooterCTA from '../components/FooterCTA.astro';
import Footer from '../components/Footer.astro';
import ThankYou from '../components/ThankYou.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Features />
		<OurPortfolio />
		<Process />
		<Display/>
		<LogoCloud />
		<Testimonial />
		<SolutionsSlider />
		<FAQ />
		<FooterCTA />
	</main>
	<Footer />
</Layout>
